@using carbon.core.features
<!DOCTYPE html>
<!--
Copyright Owen P Holloway
zeryter.xyz
2019
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - carbon.api</title>
    
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/x-icon" href="~/resources/logo.ico">
</head>
<body>
    <header>
        
        <nav class="light-blue darken-4">
            <div class="container">
                <div class="row">
                    <div class="nav-wrapper s12 m10 offset-m1 l8 offset-l2">
                        <a href="@ApplicationInfo.AppUrl" class="brand-logo"><img class="brand-logo" src="~/resources/logo.png"></a>
                        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            @if (User?.Identity.IsAuthenticated == true)
                            {
                               <li><a class="dropdown-trigger" href="#!" data-target="userSettings">@User.Identity.Name<i class="material-icons right">arrow_drop_down</i><i class="material-icons right">account_circle</i></a></li>
                                                                                                                                                                               
                                <ul id="userSettings" class="dropdown-content">
                                    <li class="divider"></li>
                                    <li><a href="/Account/Profile">Profile <i class="material-icons right">account_circle</i></a></li>
                                    <li class="divider"></li>
                                    <li><a href="/Account/Logout">Logout <i class="material-icons right">exit_to_app</i></a></li>
                                </ul>
                            }
                            else
                            {
                                <li><a href="/Account/Register">Register</a></li>
                                <li><a href="/Account/Login">Login</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        
        <ul class="sidenav" id="mobile-nav">
            <li>
                <div class="user-view">
                    <div class="center">
                        <!--<img style="width: 20%; height: 20%;" src="~/resources/zerytLogo.png">-->
                    </div>
                </div>
            </li>
            <li><a href="/">Home</a></li>
            <li><div class="divider"></div></li>
            
            @if (User?.Identity.IsAuthenticated == true)
            {
                <li><a href="/Account/Profile">Profile <i class="material-icons right">account_circle</i></a></li>
                <li><a href="/Account/Logout">Logout <i class="material-icons right">exit_to_app</i></a></li>
            }
            else
            {
                <li><a href="/Account/Register">Register</a></li>
                <li><a href="/Account/Login">Login</a></li>
            }
            
        </ul>
        
    </header>
    
    <main>
        @RenderBody()
    </main>

    <footer class="page-footer light-blue darken-3">
        <div class="container">
            <div class="row grey-text text-lighten-5">
                <div class="s12 m10 offset-m1 l8 offset-l2">
                </div>
            </div>
        </div>
        <div class="footer-copyright light-blue darken-4">
            <div class="container">
                <div class="row">
                    <div class="col s6 white-text">
                        <ul>
                            <li>Owen Holloway © 2019</li>
                            <li>Version @Config.Version</li>
                        </ul>
                    </div>
                    <div class="col s6 right-align">
                        <ul>
                            <li><a href="@ApplicationInfo.AppUrl/privacy">privacy</a></li>
                            <li><a href="https://zeryter.xyz">zeryter.xyz</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/materialize/js/materialize.js"></script>
    </environment>
    
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/materialize/js/materialize.min.js"></script>
    </environment>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
